<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- <context:component-scan base-package="ru.yarkin"/> -->
    <bean id="directory" class="ru.yarkin.dictionarywork.Directory">

    </bean>
    <bean id="configDictionary" class="ru.yarkin.structure.ConfigDictionary">
        <constructor-arg ref="directory"/>
    </bean>
    <bean id="add" class="ru.yarkin.view.commands.Add">
        <constructor-arg ref="configDictionary"/>
    </bean>
    <bean id="back" class="ru.yarkin.view.commands.Back">
        <constructor-arg ref="configDictionary"/>
    </bean>
    <bean id="exit" class="ru.yarkin.view.commands.Exit">

    </bean>
    <bean id="remove" class="ru.yarkin.view.commands.Remove">
        <constructor-arg ref="configDictionary"/>
    </bean>
    <bean id="search" class="ru.yarkin.view.commands.Search">
        <constructor-arg ref="configDictionary"/>
    </bean>
    <bean id="view" class="ru.yarkin.view.commands.View">
        <constructor-arg ref="configDictionary"/>
    </bean>
    <bean id="consoleApp" class="ru.yarkin.view.ConsoleApp">
        <constructor-arg>
            <list>
                <ref bean="add"/>
                <ref bean="back"/>
                <ref bean="exit"/>
                <ref bean="remove"/>
                <ref bean="search"/>
                <ref bean="view"/>
            </list>
        </constructor-arg>
    </bean>
</beans>