<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Add</title>
</head>
<body>
<h1>Добавить запись</h1>
<form action="#" th:action="@{/dictionary/add}" th:object="${form}" method="post" accept-charset="UTF-8">
    <input name="sourceLanguage" type="hidden" th:valuetype="Long" th:value="${sourceLanguage}">
    <input name="targetLanguage" type="hidden" th:valuetype="Long" th:value="${targetLanguage}">

    <label>

        <input type="text" th:field="*{key}"/>
    </label>

    <label>

        <input type="text" th:field="*{value}"/>
    </label></p>

    <div>
        <button>Добавить пару</button>
    </div>

</form>


<a th:href="@{/dictionary(sourceLanguage = ${sourceLanguage}, targetLanguage = ${targetLanguage})}">Вернутся в меню словаря</a><br/>
<p>Комментарий<Br>

<form>
    <label>
        <div th:each="answer : ${result}">
            <textarea class="form-control input-sm" rows="2" th:text="${answer}"></textarea>
        </div>
    </label>
</form>

</body>
</html>