<!DOCTYPE html>
<html  lang="ru" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Dictionaries</title>
</head>
<body>

    <h2>Command:</h2>
    <a th:href="@{/dictionary/add(id = ${id})}" th:text="Add">Dictionary</a><br/>
    <a th:href="@{/dictionary/delete(id = ${id})}" th:text="Delete">Dictionary</a><br/>
    <a th:href="@{/dictionary/view(id = ${id})}" th:text="View">Dictionary</a><br/>
    <a th:href="@{/dictionary/search(id = ${id})}" th:text="Search">Dictionary</a><br/>
    <a href="/start/menu">Вернутся в меню словарей</a><br/>

</body>
</html>