<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">

    <title>Add</title>
</head>
<body>
<h1>Добавить запись</h1>
<form action="#" th:action="@{/dictionary/add}" th:object="${form}" method="post" accept-charset="UTF-8">
    <input name="id" type="hidden" th:valuetype="Long" th:value="${id}">
    <p th:text="${name}">Словарь</p>

    <label>
        <div th:text="${sourceRule}"></div>
        <input type="text" th:field="*{key}" />
    </label>

    <label>
        <div th:text="${targetRule}"></div>
        <input type="text" th:field="*{value}" />
    </label></p>

    <div>
        <button id="id" name="id" value="">Добавить пару</button>
    </div>

</form>


<a th:href="@{/dictionary(id = ${id})}">Вернутся в меню словаря</a><br/>
<p>Комментарий<Br>

<form>
    <label>
        <div th:each="answer : ${result}" >
        <textarea class="form-control input-sm" rows="2" th:text="${answer}"></textarea>
        </div>
    </label>
</form>

</body>
</html>